
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

.right {
  float: right;
  label {
    margin-right: 10px;
  }
}

.vertical-resize {
  resize: vertical;
}
.btn-wide {
  width: 100%;
}
.comment {
  margin-bottom: 5%;
}
.new-comment {
  margin-top: 5%;
}