
// Fonts
@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "./../../../node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

// Site menu
@import "menu";

.right {
  float: right;
  label {
    margin-right: 10px;
  }
}

.vertical-resize {
  resize: vertical;
}
.btn-wide {
  width: 100%;
}
.comment {
  margin-bottom: 5%;
}
.new-comment {
  margin-top: 5%;
}

.has-error {
  margin-top: 10px;
}

.chat-msg {
  &.name {
    font-weight: bold;
    color: pink;
    &.your-chat-msg {
      color: deepskyblue;
    }
  }
}